# Vim
*.swp
*.swo

# Visual Studio Code
.vscode/
*.code-workspace

# colcon
build/
install/
log/

# navigation.repos imports
/navigation2/
/rsf_rviz_plugins
/rsf_waypoint_manager
/ground_segmentation
/ground_segmentation_ros2
/nav2_ground_consistency_costmap_plugin
/rsf_slam
/rsf_bag_visualizer
/rsf_localization_filter

# deployment.repos imports
/icart_driver
/yp-spur
/hokuyo_rsf
/nmea_msgs

# 拡張子
*.pyc
*.html

.idea/

# rviz Screen Capture
capture/

# CodeChecker
.codechecker/

# TestCode
test/

# 設計メモ
docs/
CLAUDE.md
